{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="font-size: 30px">Panel lotniczy</h1>

    <div id="nowy">
    <table>
        <tbody>
            <tr>
                <th style="font-size: large">Id</th>
                <th></th>
                <td style="font-size: medium">{{ panel_lotniczy.id }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Linia</th>
                <td style="font-size: medium">{{ panel_lotniczy.linia }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Samolot</th>
                <td style="font-size: medium">{{ panel_lotniczy.samolot }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Kraj wylot</th>
                <td style="font-size: medium">{{ panel_lotniczy.krajWylot }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Kraj przylot</th>
                <td style="font-size: medium">{{ panel_lotniczy.krajPrzylot }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Data wylot</th>
                <td style="font-size: medium">{% if panel_lotniczy.dataWylot %}{{ panel_lotniczy.dataWylot|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th style="font-size: large">Data przylot</th>
                <td style="font-size: medium">{% if panel_lotniczy.dataPrzylot %}{{ panel_lotniczy.dataPrzylot|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th style="font-size: large">Czas lotu oczekiwany</th>
                <td style="font-size: medium">{% if panel_lotniczy.czasLotuOczekiwany %}{{ panel_lotniczy.czasLotuOczekiwany|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th style="font-size: large">Liczba pasazerow</th>
                <td style="font-size: medium">{{ panel_lotniczy.liczbaPasazerow }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Pilot glowny</th>
                <td style="font-size: medium">{{ panel_lotniczy.pilotGlowny }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Awaria</th>
                <td style="font-size: medium">{% if panel_lotniczy.awaria %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th style="font-size: large">Lot bezpieczny</th>
                <td style="font-size: medium">{% if panel_lotniczy.lotBezpieczny %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    </div>
<div id="inneklawisze">
    <ul>
        <li>
            <a href="{{ path('panel_lotniczy_index') }}" style="font-size: medium">Powrot</a>
        </li>
        <li>
            <a href="{{ path('panel_lotniczy_edit', { 'id': panel_lotniczy.id }) }}" style="font-size: medium">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usun">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
