{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="font-size: 30px">Panstwo</h1>
<div id="nowy2">
    <table>
        <tbody>
            <tr>
                <th style="font-size: large">Id</th>
                <td style="font-size: medium">{{ panstwa.id }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Nazwa</th>
                <td style="font-size: medium">{{ panstwa.nazwa }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Skrot</th>
                <td style="font-size: medium">{{ panstwa.skrot }}</td>
            </tr>
        </tbody>
    </table>
    <div/>

    <ul>
        <li>
            <a href="{{ path('panstwa_index') }}" style="font-size: medium">Powrot</a>
        </li>
        <li>
            <a href="{{ path('panstwa_edit', { 'id': panstwa.id }) }}" style="font-size: medium">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usun">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
