{% extends 'base.html.twig' %}

{% block body %}
    <h1>Baza_samolotow</h1>

<div id="nowy">
    <table>
        <tbody>
            <tr>
                <th style="font-size: large">Id</th>
                <td style="font-size: medium">{{ baza_samolotow.id }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Marka</th>
                <td style="font-size: medium">{{ baza_samolotow.marka }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Model</th>
                <td style="font-size: medium">{{ baza_samolotow.model }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Rocznikprodukcji</th>
                <td style="font-size: medium">{{ baza_samolotow.rocznikProdukcji }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Pulap</th>
                <td style="font-size: medium">{{ baza_samolotow.pulap }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Numerrej</th>
                <td style="font-size: medium"{{ baza_samolotow.numerRej }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Liczbapasazerow</th>
                <td style="font-size: medium">{{ baza_samolotow.liczbaPasazerow }}</td>
            </tr>
            <tr>
                <th style="font-size: large">Aktywny</th>
                <td style="font-size: medium">{% if baza_samolotow.aktywny %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <div/>

    <div id="powrot1">
    <ul>
        <li>
            <a href="{{ path('baza_samolotow_index') }}" style="font-size: medium">Powrot</a>
        </li>
        <li>
            <a href="{{ path('baza_samolotow_edit', { 'id': baza_samolotow.id }) }}" style="font-size: medium">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
