{% extends "::base.html.twig" %}

{% block title %}AppBundle:Registration:register{% endblock %}

{% block body %}

<div style = "color: #F5F5F5">
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
</div>

    <button type="submit" style="background: chocolate; color: #ffcc00">Rejestracja</button>
    <button type="button" style="background: #dd4444; color: khaki;" >Zapomnialem hasla</button>
    <body background="plane.jpg"></body>
    <button type="button" style="background: #629755; color: khaki" onclick="window.location.href='http://127.0.0.1:8000/login'">Zaloguj</button>
    {{ form_end(form) }}
{% endblock %}